<nav class="navbar">
  <div class="logo">
    <a routerLink="/home">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPJJREFUSEvt1TFOAkEYhuGHmADHsNGCcA8bCgsPYUNLTKSDBENL4x1sbTyHsZLCY6ANZslANsvCzGbExMRJptn993tn3n93p+XEo3XifE0A51iEBQ3xkbK4FEAHd2F2Q+gKD2F+HgPFAFd4RLH6ulHs4hYvhyCHAFsdgxQNeEattiqg0DHCGO1K+BPucYYZriv3vzDFHDttZUBMxwWWIbSP1xRtZcA6ouMS76Gmh7dI/Sa7CaCsaIKbnwYk9ntX1ngH2YAioNyHrb6ca3u/ipywumf/AZu+H+vV7yqKfcnZr+nfBzRVkFQfO9GSQnKOzGzAN0gjOhlouyZoAAAAAElFTkSuQmCC"/>
    </a>
  </div>
  <div class="title">
    <h2>Internet Banking Application</h2>
  </div>
  <div class="button">
    <button class="btn btn-primary ms-2" routerLink="/login">Login</button>
    <button class="btn btn-secondary ms-2" routerLink="/signup">Sign Up</button>
  </div>
</nav>